.about{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about>p{
    width:60ch;
    text-align: center;
    line-height: 35px;
}