body{
    width:100vw;
    height:100vh;
    position:relative;
}
.signup{
    width:30%;
   position:absolute;
   left:50%;
   top:50%;
   transform:translate(-50%,-50%);
    border:2px solid lightgray;
    border-radius:5px;
    padding:10px;
    box-shadow:0 0 10px 0 lightgray;
}
.signup>h1{
    text-align: center;
}
input{
    margin-bottom:20px;
    border-radius:5px;
    width:100%;
    border:none;
    border-bottom:2px solid lightgray;
}
input:focus{
    border:none;
    border-bottom:2px solid lightgray;
    outline:none;
}
input:hover{
    caret-color: transparent;
}
.inputGrp{
    position:relative;
    margin-top:20px;
}
label{
position:absolute;
bottom:50%;
margin-top:10px;
color:gray;
}
.written{
    margin-bottom:20px;
}
.active{
    top:-30px;
    left:0px;
}
form{
    display:flex;
    flex-direction: column;
}
.btn,Link{
    width:100%;
    text-align: center;
    height:50px;
    font-size:15px;
    margin-top:30px;
    margin-bottom:30px;
    justify-self: center;
    background-color: lightblue;
    border-color: transparent;
    border-radius:5px;
    cursor:pointer;
}
.acc{
    justify-self: center;
    margin-top:20px;
}
hr{
    opacity:0.6;
}

