.edit_form{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.edit_form>*{
    text-align: center;
    align-self: center;
    width:50%;
}
.edit_form>textarea{
    width:80%;
    height:auto;
}
.edit_btn{
    position:absolute;
    top:2%;
    right:5%;
    width:100px;
    height:50px;
    background-color: lightblue;
    cursor:pointer;
    border-radius: 5px;
}
.publish{
    display:flex;
    width:100px;
    justify-content: center;
    align-items: center;
}
.publish>input{
    height:100%;
    margin:0;
    align-self: center;
}